<p>Name: <%= current_user.name %></p>
<p>Username: <%= current_user.username %></p>
<p>Email: <%= current_user.email %></p>
<p class="edit-link">Edit Information</p>
<div class="edit-modal">
  <%= render 'form' %>
</div>
