$font-stack: "avenir next", "helvetica", "arial", "sans-serif";
$background: #e7e7e7;
$secondary: white;
$button-border: #e1e1e1;
$nav: gray;
$primary: black;
$drop-shadow: 2px 2px 2px $button-border;
