@import 'variables';

.board {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.box {
  display: block;
  position: relative;
  background-color: $background;
  padding: 10px;
  border: 3px solid black;
  margin: 5px;
}

.reply-box {
  display: inline-block;
  width: 10%;
  font-size: .60em;
  font-style: italic;
  padding: 10px;
  cursor: pointer;
}

.form-modal {
  display: none;
}

.show {
  position: fixed;
  width: 75%;
  margin: 10%;
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  background: $background;
  z-index: 1;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  h1{
    cursor: pointer;
  }
}

.text {
  display: inline-block;
  width: 50%;
  p {
    font-size: 1.2em;
  }
}

.data {
  display: inline-block;
  padding: 5px;
  width: 38%;
  border: 1px solid black;
  background: $secondary;
}

#new_message {
  text-align: center;
}

#instance-reply {
  text-align: center;
}
