@import 'variables';

#new_message {
  text-align: center;
}
.board {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.box {
  display: block;
  position: relative;
  background-color: $background;
  padding: 10px;
  border: 3px solid black;
  margin: 5px;
}

.reply-box {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 10px;
  text-align: right;
  font-size: .60em;
  font-style: italic;
  padding: 10px;
}

.form-modal {
  display: none;
}

.show {
  position: fixed;
  top: 50px;
  left: 25%;
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  background: $background;
  z-index: 1;

}

#instance-reply {
  text-align: center;
}
