@import 'variables';

.edit{
  display: block;
  text-align: center;
  margin: 5px;
  background: $background;
}

.edit-link {
  text-align: center;
}

.edit-modal, .message-modal {
  display: none;
  background: $background;
}
