<div class="close">
  <h1>X</h1>
</div>
<%= form_for (@message) do |f| %>
  <%= f.label :message %></br>
  <%= f.text_area :memo, size: "30x5" %></br>
  <%= f.submit "Done", class: 'submit' %>
<% end %>
